<div data-role="view" data-title="My Cards" data-layout="main" data-model="app.levelListView" data-show="app.levelListView.onShow" data-after-show="app.levelListView.afterShow">
    <!-- START_CUSTOM_CODE_levelListView -->
    <span id="noCards">You have no cards yet. Please, go to Vocabulary to add some cards.</span>
    
    <div class="k-loading-mask" style="width:100%;height:100%;position:relative"><div class="k-loading-image"><div class="k-loading-color"></div></div></div>
    <!-- END_CUSTOM_CODE_levelListView -->
    <ul data-role="listview" data-style="inset" data-template="levelListViewModelTemplate" data-bind="{ source: levelListViewModel.dataSource, events: {click: levelListViewModel.itemClick}}"  data-pull-to-refresh="false" data-endless-scroll="false">
    	      
    
    </ul>
    <!-- START_CUSTOM_CODE_levelListViewModel -->
    <!-- END_CUSTOM_CODE_levelListViewModel -->
    <script type="text/x-kendo-template" id="levelListViewModelTemplate">
        <div class="image-with-text">
            <h3>Level #: data['value'] # </h3>
            <p> Cards: #: data['length'] # </p>

        </div>
    </script>
</div>