<div data-role="view" data-title="Vocabulary" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    <!-- START_CUSTOM_CODE_homeView -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" data-rel="modalview" href="#add" data-icon="add"></a>
        </div>
    </header>
    <!-- END_CUSTOM_CODE_homeView -->
    <ul data-role="listview" data-style="inset" data-template="homeViewModelTemplate" data-bind="{ source: homeViewModel.dataSource}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_homeViewModel -->
    <div data-role="modalview" id="add" style="width: 90%" >
    <div data-role="header">
        <div data-role="navbar">
            <span>Add word</span>
        </div>
    </div>
    <ul data-role="listview" data-style="inset">
        <li>
            <label>
                Word:
                <input type="text" data-bind="value: word">
            </label>
        </li>
        <li>
            <label>
                Translation:
                <input type="text" data-bind="value: translation">
            </label>
        </li>
    </ul>
    <div class="button-group button-group-vertical">
        <button data-bind="click: homeViewModel.add" class="add-button" data-role="button">Add</button>
        <button data-bind="click: homeViewModel.close" class="close-button" data-role="button">Close</button>
    </div>
</div>
    <!-- END_CUSTOM_CODE_homeViewModel -->
    <script type="text/x-kendo-template" id="homeViewModelTemplate">
        <div class="image-with-text"><a data-role="button" data-id="#: data['id'] #" data-word="#: data['Word'] #" data-translation="#: data['Translation'] #" data-click="AddToMyCards" class="add-button">Add to My Cards </a>
            <h3>#: data['Word'] #</h3>
            <p>#: data['Translation'] #</p>
        </div>
    </script>
</div>
