<div data-role="view" data-title="Level" data-layout="main" data-model="app.levelCardsListView"  data-show="app.levelCardsListView.onShow" data-after-show="app.levelCardsListView.afterShow">
    <!-- START_CUSTOM_CODE_levelCardsListView -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="button" href="components/levelListView/view.html" data-align="left">Level list</a>
            
            <a data-role="button" data-align="right" data-bind="{events:{click: levelCardsListViewModel.startLearning}}">Start learning</a>
         
        </div>
    </header>
    <!-- END_CUSTOM_CODE_levelCardsListView -->
    <ul data-role="listview" data-style="inset" data-template="levelCardsListViewModelTemplate" data-bind="{ source: levelCardsListViewModel.dataSource}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_levelCardsListViewModel -->
    <!-- END_CUSTOM_CODE_levelCardsListViewModel -->
    <script type="text/x-kendo-template" id="levelCardsListViewModelTemplate">
        <div class="image-with-text">
        	<a data-role="button" data-align="right" class="add-button" data-bind="{events: {click: levelCardsListViewModel.deleteCard}}" data-icon="delete"></a>
            <h3>#: data['Word'] #</h3>
            <p>Level: #: data['Level'] #</p>
            <p>Correct ans: #: data['CorrectAnswers'] # Incorrect ans: #: data['IncorrectAnswers'] #</p>
        </div>
    </script>
</div>